<div class="nested-fields">
  <div class="row mx-auto">
    <div class="col-12"><%= f.text_area :explanation, :size => "10x5", class: "form-control col-sm-9", placeholder: "その他・手順" %></div>
    <div class="form_group col-5">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>