<div class="row">
  <div class="col-12 col-md-12 col-xs-5 col-lg-10 offset-lg-2">
    <h2>いいねした投稿</h2>
</div>
  <div class="col-12  col-sm-12 col-md-10 col-lg-10 col-xs-5 offset-md-1">
    <table class="table table-bordered table-condensed bg-white">
      <therd>
        <tr>
          <th>タイトル</th>
          <th>投稿者</th>
        </tr>
      </therd>
      <% current_user.favorites.each do |favorite| %>
      <tbody>
        <tr>
          <td>
            <%= link_to post_recipe_path(favorite.post_recipe.id) do %>
              <%= favorite.post_recipe.title %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(favorite.post_recipe.user.id) do %>
              <%= favorite.post_recipe.user.name %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
