<div class="row">
  <div class="col-12 col-xs-5">
    <h2>退会確認</h2>
    <div class="col-12 col-lg-8 col-xs-5">
      本当に退会されますか？退会するとアカウント登録情報や自身の投稿が出来なくなります。閲覧のみ可能です。</br >
      ありがとうございました。
      <div class="form_group ">
        <%= link_to "退会しない", user_path(current_user.id), class: "btn btn-primary" %>
        <%= link_to "退会する", withdraw_users_path(@user), method: :patch, class:"btn btn-danger", "data-confirm" => "本当に退会してもよろしいですか？" %>
     </div>
    </div>
  </div>
</div>