<div class="row">
  <div class="col-12 col-md-10 col-lg-8 col-xs-5">

    <div class="example ">
      <%= image_tag 'about.jpg', class: 'icon' %>
      <p>ようこそ</p>
    </div>
  </div>
  <div class="col-12 col-md-10 col-lg-8 col-xs-10 offset-md-1">
    <div class="col-xs-10">
      <h2>About</h2>
      <div class="about_text p-3 col-xs-5">
        <p>
          本サイトでは料理のレシピの投稿と他者の投稿閲覧・コメント・いいねができます。
          初心者でも作れるような料理レシピの発信 このサイトを読むことで簡単な食事メニューを参考にすることができます。
        </p>
        <h5>使い方</h5>
        <p>
          新規ユーザー登録して頂くと投稿とコメント・いいねができます。
          ログインしなくても投稿の詳細は閲覧できます。
          投稿編集および削除は投稿したアカウントのみになります。
        </p>
      </div>
    </div>
  </div>
</div>


