<div class="row">
  <div class="col-12 col-md-10 col-xs-10 offset-md-1">
    <h2>About</h2>
    <div class="text-center hero">
    <p>
      本サイトでは料理のレシピの投稿と他者の投稿閲覧・コメント・いいねができます。
      初心者でも作れるような料理レシピの発信 このサイトを読むことで簡単な食事メニューを参考にすることができます。
    </p>

  </div>
  </div>



</div>

