<div class="row">
  <div class="col-12 col-md-10 col-lg-12 col-xs-5">

    <div class="example bg-dark">
      <%= image_tag 'about.jpg', class: 'icon' %>
      <p>ようこそ</p>
    </div>
  </div>
  <div class="col-12 col-md-10 col-xs-5 offset-md-1">
    <h2>About</h2>
    <div class="about_text p-3">
      <p>
        本サイトでは料理のレシピの投稿と他者の投稿閲覧・コメント・いいねができます。
        初心者でも作れるような料理レシピの発信 このサイトを読むことで簡単な食事メニューを参考にすることができます。
      </p>
      <span>使い方</span>
      <p>
        新規ユーザー登録して頂くと投稿ができます。
        投稿一覧はログインしなくても閲覧できます。
      </p>
    </div>
  </div>
</div>

