<div class="row">
  <div class="col-12 col-md-10 col-xs-10 offset-md-1">
    <h2 class="p-3">About</h2>
    <div class="example bg-dark">
      <%= image_tag 'about.jpg', class: ' bg-dark' %>
      <p>ようこそ</p>
    </div>

    <p>
        本サイトでは料理のレシピの投稿と他者の投稿閲覧・コメント・いいねができます。
        初心者でも作れるような料理レシピの発信 このサイトを読むことで簡単な食事メニューを参考にすることができます。
    </p>

  </div>
</div>

