<div class="row">
  <div class="col-md-12 col-xs-12 offset-md-1">
    <h2>投稿一覧</h2>
    <table class="table  table-bordered table-condensed">
      <thead>
        <tr>
          <th>投稿ID</th>
          <th>投稿者名</th>
          <th>タイトル</th>
          <th>ジャンル  </th>
        </tr>
      </thead>

        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>

    </table>
  </div>
</div>