/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.0rem;
}

#wrapper{
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
}

.container{
  margin: 20px auto;
  width: 100%;
}

/*renderでフォームの崩れを防止*/
.field_with_errors {
  display: contents;
}

.form_group{
  margin: 40px 0;
}
/*全体のbackground*/
.slide1 {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 100px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

/*トップページ*/
.jumbotron{
  background: url(main.jpg) center no-repeat;
  position: relative;
  width: 100%;
  background-position: 100%;
  background-size:  cover;
}

.jumbotron::before{
  content: '';
  display: block;
  padding-top: 50%;
}

@media screen and (min-width: 768px) {
  .jumbotron ,h3,h4{
    margin-bottom: 2.0rem;
  }
  .container .jumbotron, .container-fluid .jumbotron {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.hero {
  background: url(about.jpg) center no-repeat;
  width: 100%;
  height: 300px;
  background-size:cover;
  color: #333;
}
/*アカウント詳細ページ*/
.mypage_img{
  margin: 20px auto;

   img{
    border-radius: 50%;
  }
}
.account{
  margin-top: 2.5rem;
}
/*投稿*/
.card {
  margin: 20px auto;
  max-width: 300px;
}

.favorite_heart{ color: #ff6699;}

/*投稿詳細ページ*/
.col-xs-5{
  margin: 20px auto;

  .recipe_img{
  margin: 0  auto;
  }
}

.ingredient, .post_introduction{
  margin: 20px auto;
  background-color: #d7efff;

  p{
    padding: 10px  20px;
  }

}

/*投稿詳細コメント機能*/
.comment_text{
  margin: 20px auto;
}

/*footer*/
footer{
   width: 100%;
   height: 40px;
   margin-top: auto;
   margin-bottom: -40px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}