<div class="row">
  <div class="col-md-12 col-xs-12 offset-md-1">
    <h2>アカウント一覧</h2>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>