<div class="row">
  <% breadcrumb :admin_users %>
  <%= breadcrumbs separator: ">" , class:"pankuzu_list" %>
  <div class="col-12 col-md-10 col-lg-10 col-xs-5 offset-md-1">
    <h2>アカウント一覧</h2>
    <table class="table table-bordered table-condensed bg-white">
      <thead>
        <tr>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @users.each do |user| %>
      <tbody>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_active == true %>
            <p class="text-success">有効</p>
          <% else %>
            <p class="text-danger">無効</p>
          <% end %>
        </td>
      </tbody>
      <% end %>
    </table>
  </div>
</div>